@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Rubik;
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

header {
  background-image: url("./assets/pattern-bg.png");
  background-size: cover;
}
